.desktop {
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 0 5%;
}

.chat-container .form-title {
  border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 20px;
}

.chat-bubble {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 80%;
}

.chat-bubble p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.data-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data-container.left {
  justify-content: flex-start;
}

.data-container.right {
  justify-content: flex-end;
}

.data-icon {
  height: 30px;
  margin-right: 10px;
}

.text-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-input-label {
  font-size: 16px;
  margin-right: 10px;
}

.date-input,
.phone-input,
.email-input,
.number-input,
.text-input {
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.submit-button {
  background-color: #1a5fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.submit-button:hover {
  background-color: rgb(3, 3, 195);
}

.submit-button-dark img,
.submit-button img {
  width: 20px;
  height: 20px;
}

.sent-bubble {
  background-color: #e0f7fa;
  border-radius: 20px;
  padding: 10px 20px;
  max-width: 80%;
  font-size: 16px;
  color: #000;
  margin: 0;
}

.date-input-dark,
.phone-input-dark,
.email-input-dark,
.number-input-dark,
.text-input-dark {
  background-color: #777777;
  color: #ffffff;
  flex-grow: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.submit-button-dark {
  background-color: #777777;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.data-image,
.data-video {
  height: 300px;
  width: 500px;
  border: 1px solid black;
}

.display-error-message {
  color: red;
  margin-top: 5px;
  font-size: 16px;
}

.rating-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 210px;
}

.rating-option {
  cursor: pointer;
  border-radius: 50%;
  background-color: #1a5fff;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-option:hover {
  background-color: orange;
}

.rating-option.selected {
  background-color: orange;
}

.rating-container.disabled .rating-option {
  cursor: not-allowed;
  pointer-events: none;
}

.rating-container.disabled .rating-option.selected {
  background-color: orange;
}

.rating-container-dark {
  background-color: #777777;
}

.button-input {
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  outline: none;
}

.button-input-dark {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 225px;
  height: 40px;
  outline: none;
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 30px;
}
