.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0;
  font-size: 20px;
}

.footer a {
  color: #ffffffeb;
  text-decoration: none;
  margin: 5px;
}

.footer a:hover {
  color: greenyellow;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container-developer {
  margin-top: 30px;
}

.footer img {
  height: 16px;
  width: 16px;
}

.footer .developer-name {
  margin-top: 20px;
}
